#content {
    padding-left: 0;
    padding-right: 0;
}


.bg {
    --bs-bg-opacity: 1;
    background-color: rgba(61, 132, 139, 0.496);
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
    justify-items: space-between;
}

.nav-link{
    color: aliceblue;
}

