<div class="container-fluid">
    <div class="imagem-row">

        <div class="imagem-col">
           
            <div class="buttons">
                <div class="text text-center">
                   <hr class="border-2"> <p>Gestão de Chamados e Equipamentos</p>  <hr class="border-2">
                </div>
                <a routerLink="../chamado/cadastrar" class="btn btn-outline-primary m-3">Cadastrar Chamado</a>
                <a routerLink="../chamado/gerenciar" class="btn btn-outline-primary m-3">Gerenciar Chamados</a>
                <a routerLink="../equipamento/cadastrar" class="btn btn-outline-success m-3 ">Cadastrar Equipamento</a>
                <a routerLink="../equipamento/gerenciar" class="btn btn-outline-success m-3">Gerenciar Equipamentos</a>
            </div>
            <img src="/assets/photo.avif" id="imagem">
        </div>
    </div>
</div>