#imagem {
    width: auto;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
}


.imagem-col {
    padding: 0;
    margin: 0;
}

.imagem-row {
    padding: 0;
    margin: 0;
}

.buttons {
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 25%;
}

.btn {
    border: var(--bs-btn-border-width) solid #ffffff;
    color: #ffffff;
}

.text {
    font-size: 25px;
    color: #fff;
}